/* ===== MEDIUM SCREEN (TABLET) ===== */

@media (min-width: 600px) {

    nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav a {
        margin: 5px;
    }

    main {
        padding: 25px;
    }

    section {
        padding: 20px;
    }

    .hero {
        text-align: center;
    }

    .hero img {
        max-height: 400px;
        object-fit: cover;
    }

    .community {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        align-items: center;
    }

}