:root {
    --primary-color: #003366;
    --accent-color: #D4AF37;
    --background-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border-left: 5px solid var(--accent-color);
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    overflow-x: auto;
}

footer p {
    margin: 0.3rem;
}