:root {
    --primary-color: #007168;
    --secondary-color: #f4f4f4;
    --accent-color: #ffcc00;
    --text-color: #222222;
    --white-color: #ffffff;
    --shadow-color: #0000001a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
}

.hero img {
    width: 100%;
    display: block;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: var(--white-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.card h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.weather-icon {
    width: 60px;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .content {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }
}